.logo {
    width: 104px;
    height: 104px;
    z-index: 999;
}

.sectiondiv {
    display:flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    clear: both;
}
@media (min-width:320px) {
    .sectiondiv {
        height: 100vw;
        width: 100vw;
  
    }
  }
  
  @media (min-width:900px)  {
    .sectiondiv {
        height: 65.02vw;
        width: 100vw;
    }
  }

.h1 {
    font-family: 'Plus Jakarta Sans', 'Segoe UI', 'Tahoma', sans-serif;
    z-index: 999;
}
  
.CSspan {
    color: var(--main-purple);
}