section-div {
    height: 65.02vw;
}

section-heading {
    font-family: 'Raleway', 'Segoe UI', 'Tahoma', sans-serif;
}

section-text {
    font-family: 'Titillium Web', 'Segoe UI', 'Tahoma', sans-serif;
  }

section-circle {
    
}